body {
    background-color: #ff9000;
    text-align: center;
}

div {
    border-color: #90ff00;
    border-style: dotted;
    width: 100px;
    height: 100px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    width: 300px;
    justify-content: space-around;
    height: 200px;
    align-items: center;
}
